@import "tailwindcss";

/* Custom Colors and Style */

:root {
    --chai-yellow: #f4c542;
    --chai-brown: #3E2723;
}

/* Custom Utility Classes */

.text-chaiYellow {
    color: var(--chai-yellow);
}

.bg-chaiYellow {
    background-color: var(--chai-yellow);
}

.text-chaiBrown {
    color: var(--chai-brown);
}

.bg-chaiBrown {
    background-color: var(--chai-brown);
}

.hover\:text-chaiBrown:hover {
    color: var(--chai-brown);
}

.hover\:bg-chaiBrown:hover {
    background-color: var(--chai-brown);
}

/* Logo */